body {
    background-color: blueviolet;
text-align: center;
}

.panel{
    width: 500px;
    /* background-color: cornflowerblue; */
    margin: auto
    
}

form{

    display: flex;
    background-color:darkkhaki;
margin: 20px;
padding: 10px;
border: darkblue;
border-style: solid;
}

.box{
    display: flex;
    background-color:darkseagreen;
margin: 20px;
padding: 10px;
border: darkblue;
border-style: solid;
/* this will attach  the first and last item to the sides*/
justify-content: space-between; 
}
